span.st-ae.st-bm.st-ag.st-ah.st-ai.st-aj.st-bg.st-bn.st-bo.st-az.st-b0.st-b1.st-b2.st-bp.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-ak.st-bx.st-by.st-bz.st-at.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-bk.st-c6.st-c7.st-c8 {
    background-color: #a52bad;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 25px;
    box-shadow: 0px 4px 6px #f3f3f3eb; /* Subtle shadow */
}

div.st-an.st-ao.st-ap.st-aq.st-ak.st-ar.st-am.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7.st-b8.st-b9.st-ba.st-bb.st-bc {
    border-radius: 25px; /* Add rounded corners */
}
